<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的发布</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class=" m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input m-margin-tb-tiny">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu  ">
                <a class="item" th:href="@{/user/about}">我的基本信息</a>
                <a class="item active">我的发布</a>
                <a class="item" th:href="@{/user/logout}">退出登录</a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ur container">
                <div class="ui segment">
                    <!--中间内容-->
                    <div class="ui container">
                        <!--header-->
                        <div class="ui top attached padded segment">
                            <div class="ui middle aligned two column grid">
                                <div class="column">
                                    <h3 class="ui teal header">归档</h3>
                                </div>
                                <div class="right aligned column">
                                    共<h2 class="ui orange header m-inline-block m-text-thin" th:text="${aritcleCount}">
                                    114 </h2> 篇文章
                                </div>
                            </div>
                        </div>
                        <hr>
                        <th:block th:each="aritcle,iterStat:${page.content}">
                            <div class="ui fluid vertical menu">
                                 <span>
                                     <i class="mini teal circle icon"></i>
                                     <span th:text="${aritcle.title}">关于刻意练习的清单</span>
                                     <div class="ui teal basic left pointing label m-padded-mini"
                                          th:text="${#dates.format(aritcle.createTime,'yyyy-MM-dd')}">9月03</div>
                                     <div class="ui teal basic left pointing label m-padded-mini">
                                         <a href="#" th:href="@{/user/aritcle/{artId}(artId=${aritcle.artId})}" class="ui mini teal basic button">查看</a>
                                         <a href="#" class="ui mini red basic button" th:href="@{/user/aritcles/{airId}/delete(airId=${aritcle.artId})}">删除</a>
                                     </div>
                                 </span>
                                </a>
                            </div>
                        </th:block>
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a th:href="@{/user/myAritcle/{userId}/(userId=${userId}, page=${page.number}-1)}"
                               class=" item"
                               th:unless="${page.first}">上一页</a>
                            <a th:href="@{/user/myAritcle/{userId}/(userId=${userId},page=${page.number}+1)}"
                               class=" item"
                               th:unless="${page.last}">下一页</a>
                        </div>
                    </div>
                    <div th:unless="${#strings.isEmpty(message)}" class="ui success message">
                        <i class="close icon"></i>
                        <div class="header">提示：</div>
                        <!--/*@thymesVar id="messages" type=""*/-->
                        <p th:text="${message}">恭喜，操作成功</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<br>
<br>
<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment">
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="../static/dist/jquery/jquery-3.4.1.min.js"></script>
<script src="../static/dist/semantic/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();

    function showImg() {
        // var img_file =  $("#img_file").val();
        var file = document.getElementById('userAvatar').files[0];
        var re = new FileReader();
        re.readAsDataURL(file);
        re.onload = function (re) {
            $('#img_id').attr("src", re.target.result);
        }
    }
</script>
</body>
</html>